$main-blue: #0264a3;

.header-top{
    background-color: $main-blue;


    .nav{
     height: 50px;

        &__item{
            margin-right: 40px;
            height: 100%;

            &-link{

                color:white;
                height: 100%;
                display: flex;
                align-items: center;
                box-sizing: border-box;
                border-bottom: 3px solid transparent;

                }



                &: last-child{
                    margin-right: 0px;

                
            }

        }
    }
}